.top-banner{
    display: block;
    width: 100%;
    height: 80vh;
    opacity: 0.8;
    color:rgb(162, 215, 236);
    background: url('../images/banner0.jpg') center;
}
.card{
    display: block;
    width: auto;
    text-align: justify;
}
.service-container img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border-top: 2px inset lightblue;
    border-bottom: 2px inset lightblue;
    
}
.card-body>p{
    height: 2rem;
    font-size:11px ;
    overflow: hidden;
}